h1,
h2,
h3,
body,
p {
    padding: 0;
}
body {
    background-color: #e7DFD8;
    font-family: "Inter", sans-serif;
    color: #101010;
}
.container {
    margin: 0 auto;
    width: 1119px;
}
.title {
    font-weight: 400px;
    font-size: 35px;
    padding: 28px 0;
}
/* Mickey Mause */
.mickey {
    padding: 99px 0;
}
.mickey-container {
    display: flex;
    gap: 107px;
}
.mickey-img {
    border-radius: 12px;
}
.mickey-span {
    width: 74px;
    height: 74px;
    border-radius: 100px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b99fea;
}

.mickey-text {
    font-weight: 400;
    font-size: 19px;
}

.mickey-text-2 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 35px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.mickey-link {
    text-decoration: none;
    background-color: #b99fea;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 40;
    font-size: 16px;
    color: #000;
}

/* Коко */
.coco {
    padding: 99px 0;
}
.coco-container {
    flex-direction: row-reverse;
    gap: 107px;
    display: flex;
}
.coco-img {
    border-radius: 12px;
}
.coco-span {
    width: 74px;
    height: 74px;
    border-radius: 100px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eba789;
}

.coco-text {
    font-weight: 400;
    font-size: 19px;
}

.coco-text-2 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 35px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.coco-link {
    text-decoration: none;
    background-color: #eba789;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 40;
    font-size: 16px;
    color: #000;
}
/* Ваяна */
.vayana {
    padding: 99px 0;
}
.vayana-container {
    gap: 107px;
    display: flex;
}
.vayana-img {
    border-radius: 12px;
}
.vayana-span {
    width: 74px;
    height: 74px;
    border-radius: 100px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96dbc6;
}

.vayana-text {
    font-weight: 400;
    font-size: 19px;
}

.vayana-text-2 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 35px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.vayana-link {
    text-decoration: none;
    background-color: #96dbc6;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 40;
    font-size: 16px;
    color: #000;
}